.*.swp
.~lock.*#
abook/addressbook
config/mpv/watch_later
config/ncmpcpp/error.log
gnupg/*.lock
gnupg/*~
gnupg/.gpg-v21-migrated
gnupg/S.dirmngr
gnupg/S.gpg-agent
gnupg/crls.d
gnupg/openpgp-revocs.d
gnupg/private-keys-v1.d
gnupg/random_seed
gnupg/pubring.*
gnupg/secring.*
gnupg/trustdb.*
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate
mpd/music
mpd/playlists
vim/.netrwhist
vim/bundle
vim/spell/*.spl
xmonad/build-*
xmonad/xmonad
xmonad/xmonad-*
xmonad/xmonad.bak
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.old
w3m/bookmark.html
w3m/cookie
w3m/history
