.*.swp
.~lock.*#
doc/tags*
gnupg/*.lock
gnupg/*~
gnupg/.gpg-v21-migrated
gnupg/S.dirmngr
gnupg/S.gpg-agent
gnupg/crls.d
gnupg/openpgp-revocs.d
gnupg/private-keys-v1.d
gnupg/random_seed
gnupg/pubring.*
gnupg/secring.*
gnupg/trustdb.*
mc/*.bak
mc/*~
mc/Tree
mc/bindings
mc/history
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate
mpd/music
ncmpcpp/error.log
vim/.netrwhist
vim/bundle
vim/spell/*.spl
xmonad/xmonad
xmonad/xmonad-*
xmonad/xmonad.bak
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.old
